// @import "../../../scss/main.scss";

.Product__content {
    position: relative;
    max-width: 90%;
    img {
        height: 375px;
        width: 90%;
        border-radius: 4px;
        -webkit-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
}

@media (max-width: 454px) {
    .Product__content {
        max-width: 90%;
        // margin-left: 10px;
        img {
            height: 375px;
            width: 100%;
            border-radius: 4px;
            -webkit-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
    }
}

.Product__icon {
    .slick-arrow {
        padding-left: 15px;
        width: 59px;
        display: block;
        background: #fff;
        position: absolute;
        height: 59px;
        padding-top: 20px;
        display: block;
        background: #fafafa;
        position: absolute;
        padding-top: 19px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
        z-index: 55;
        margin-right: 16px;
        border-radius:29px;
    }
    .slick-next:before {
        color: red;
        content: "→";
    }
    .slick-prev {
        border-radius: 30px;
        padding-left: 5px;
        width: 59px;
        display: block;
        background: #fff;
        position: absolute;
        height: 59px;
        padding-top: 20px;
        margin-left: -2px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
        border: 0;
        text-align: center;
        z-index: 55;
    }
    .slick-prev:before {
        color: red;
        content: "←";
    }
}
