// @import "../../../scss/main.scss";

.Product__content {
    position: relative;
    max-width: 90%;
    img {
        margin-left: 13px;
        height: 375px;
        width: 90%;
        border-radius: 4px;
        -webkit-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
}

@media (max-width: 454px) {
    .Product__content {
        max-width: 90%;
        margin-left: 10px;
        img {
            height: 375px;
            width: 100%;
            border-radius: 4px;
            -webkit-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
    }
}

// .slick-prev, .slick-next {
//     font-size: 65px;
//     line-height: 0;
//     position: absolute;
//     top: 50%;
//     display: block;
//     width: 45px;
//     height: 46px;
//     padding: 0;
//     transform: translate(0, -50%);
//     cursor: pointer;
//     color: transparent;
//     border: none;
//     outline: none;
//     background: transparent;
//     border-radius: 20px;
// }

// class="slick-arrow slick-prev slick-disabled"

.Product__icon {
    .slick-arrow {
        border-radius: 30px;
        padding-left: 10px;
        width: 44px;
        display: block;
        background: #fafafa;
        position: absolute;
        height: 44px;
        padding-top: 13px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

        /* margin-left: 10px; */
        margin-right: 13px;
    }
    .slick-next:before {
        color: red;
        content: "→";
    }
    .slick-prev {
        border-radius: 30px;
        padding-left: 5px;
        width: 45px;
        display: block;
        background: #fff;
        position: absolute;
        height: 45px;
        padding-top: 13px;
        margin-left: 10px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        border: 0;
        text-align: center;
        z-index: 4;
    }
    .slick-prev:before {
        color: red;
        content: "←";
    }
}
