.user__information {
    background-color: #f7f7f7;
    .user__information__content {
        max-width: 85%;
        margin: 0 auto;
        // max-width: 85%;
        .card-1 {
            margin-top: 50px;
            .btn__profile {
                width: 380px;
                margin-left: 28px;
                border: 1px solid black;
                color: black;
                font-weight: 600;
                margin-top: 10px;
            }
            .btn__profile:hover {
                background-color: rgb(12, 62, 142);
                color: white;
            }
            hr {
                margin-left: 25px;
                width: 378px;
            }
            .from__item {
                display: flex;

                flex-flow: row wrap;
                list-style: none;
                .flex-item-from {
                    margin-top: 20px;
                    margin-left: 30px;
                    color: #0e0e0f;
                    font-size: 16px;
                    font-weight: 700;
                }
                .flex-item-vietnam {
                    text-align: center;
                    margin-top: 20px;
                    margin-left: 231px;
                    color: #00698c;
                    font-size: 14px;
                    font-weight: 500;
                    .unAddSkill {
                        margin-left: 62px;
                    }
                }
                .flex-item-time {
                    margin-left: 168px;
                    margin-top: 13px;
                    color: #00698c;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

.card-1 {
    position: relative;
    width: 450px;
    height: auto;
    background: #fff;
    box-shadow: none;
}
.card-2 {
    border: 1px solid rgba(206, 200, 200, 0.769);
    position: relative;
    width: 450px;
    height: auto;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 50px;
    margin-top: 25px;
    box-shadow: none;
    hr {
        margin-left: 14px;
        margin-top: 50px;
        width: 392px;
    }
    .Description {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        .flex-item-1 {
            margin-top: 40px;
            margin-left: 30px;
            color: #0e0e0f;
            font-size: 16px;
            font-weight: 700;
        }
        .flex-item-2 {
            text-align: center;
            margin-top: 40px;
            margin-left: 193px;
            color: #00698c;
            font-size: 14px;
            font-weight: 500;
            .add__skill {
                margin-bottom: 15px;
                margin-left: 167px;
            }
        }
    }
    .done__add__skill {
        .skill {
            text-align: center;
            border: 1px solid;
            border-radius: 31px;
            width: 64px;
            margin-left: 108px;
            margin-top: 10px;
        }
    }
}

//addSkill
.card-2 {
    height: auto !important;
    .Description {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        .flex-item-3 {
            margin-top: 40px;
            margin-left: 30px;
            color: #0e0e0f;
            font-size: 16px;
            font-weight: 700;
        }
        .flex-item-4 {
            text-align: center;
            margin-top: 40px;
            margin-left: 293px;
            color: #00698c;
            font-size: 14px;
            font-weight: 500;
            .add__skill {
                margin-bottom: 15px;
                margin-left: 167px;
            }
        }
    }

    .AddFormSkill {
        width: 387px;
        margin-left: 29px;
        height: 194px;
        background-color: rgba(32, 24, 24, 0.061);
        border-radius: 3px;
        box-shadow: none;
        margin-top: 20px;
        input {
            margin-top: 20px;
            border-radius: 4px;
            height: 40px;
        }
        .ant-select-selector {
            height: 440px;
        }
        .ant-form-item-control-input {
            width: 357px;
            margin-left: 12px;
            margin-top: -9px;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            height: 42px;
            position: relative;
            border: 1px solid #d9d9d9;
            background-color: #fff;
            border-radius: 2px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        .add__skill__button {
            hr {
                margin-top: -7px;
                margin-right: 15px;
                font-weight: bold;
            }
        }
        .btn__add__skill {
            width: 150px !important;
            margin-top: -4px;
            height: 37px;
        }
        .btn__cancle__skkil {
            background-color: #fff;
            width: 160px;
            margin-top: -4px;
            color: black;
            font-weight: 500;
            border: 1px solid rgba(49, 25, 25, 0.075);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
        }
    }
}

.user__information__right {
    .car__done__create {
        border-radius: 1px;
        margin-top: 50px;
        width: 810px;
        height: 141px;
        padding: 20px 20px 20px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba(206, 200, 200, 0.769);
        box-shadow: none;
        .Buying {
            font-size: 18px;
            img {
                margin-right: 10px;
                width: 50px;
                margin-left: 25px;
            }
            b {
                font-weight: 600;
                line-height: 10px;
                font-size: 17px;
            }
        }

        .questions {
            margin-left: 90px;
            font-weight: 500;
            font-size: 15px;
            margin-top: -10px;
        }
        .industry {
            // margin-left: 90px;
            font-weight: 500;
            font-size: 15px;
            color: #1dbf73;
        }
    }
    .create__new__gif {
        height: 90px;
        width: 810px;
        padding: 26px 20px 20px 20px;
        border: 1px solid #9f9ca26b;
        .Gigs {
            font-size: 17px;
        }
        .button__gif {
            button {
                height: 43px;
                width: 156px;
                margin-top: -5px;
            }
        }
    }
    .history__job__booking {
        margin-top: 30px;
        margin-left: 0px;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;

        .bookingName {
            .name {
                margin-bottom: 30px;
            }
            .ant-card-bordered {
                width: 810px;
                margin-left: -35px;
                border-radius: 4px;
                border: 1px solid rgba(206, 200, 200, 0.769);
            }
        }
    }
}

.addform__certification {
    width: 387px;
    margin-top: 10px;
    margin-left: 30px;
    height: 194px;
    background-color: rgba(32, 24, 24, 0.061);
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 100px;
    input {
        margin-top: 20px;
        border-radius: 4px;
        height: 40px;
    }
    .ant-select-selector {
        height: 440px;
    }
    .ant-form-item-control-input {
        width: 357px;
        margin-left: 10px;
        margin-top: -9px;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        height: 42px;
        position: relative;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .add__skill__button {
        hr {
            margin-top: -7px;
            margin-right: 9px;
            font-weight: bold;
        }
    }
    .btn__add__skkil {
        width: 160px;
        margin-top: -4px;
    }
    .btn__cancle__skkil {
        background-color: #fff;
        width: 140px;
        margin-top: -4px;
        color: black;
        font-weight: 500;
        border: 1px solid rgba(49, 25, 25, 0.075);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    }
}

.upload__avatar {
    .img_select {
        width: 150px;
        height: 150px;
        font-size: 3em;
        border-radius: 176px;
        position: relative;
        margin-top: 70px;
        margin-left: 140px;
    }
    .file {
        height: 35px;
        width: 78px;
        margin-left: 156px;
        margin-top: 20px;
    }
    .tacvu {
        margin-left: 140px;
        /* color: #f5deb312; */
        border: 1px;
        background: #7ea587;
        color: white;
        border-radius: 29px;
        height: 41px;
        width: 131px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.userInformation__item1 {
    float: left;
    width: 40%;
}
.userInformation__item2 {
    float: left;
    width: 60%;
}

@media (max-width: 1496px) {
    .user__information__content {
        max-width: 95% !important;
        margin: 0;
    }

    .userInformation__item1 {
        float: left;
        width: 40%;
    }
    .userInformation__item2 {
        float: left;
        width: 60%;
    }

    .user__information__right {
        .car__done__create {
            border-radius: 1px;
            margin-top: 50px;
            width: 850px !important;
            height: 141px;
            padding: 20px 20px 20px 20px;
            margin-bottom: 30px;
            border: 1px solid rgba(206, 200, 200, 0.769);
            box-shadow: none;
            .Buying {
                font-size: 18px;
                img {
                    margin-right: 10px;
                    width: 50px;
                    margin-left: 25px;
                }
                b {
                    font-weight: 600;
                    line-height: 10px;
                    font-size: 17px;
                }
            }

            .questions {
                margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                margin-top: -10px;
            }
            .industry {
                // margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                color: #1dbf73;
            }
        }
        .create__new__gif {
            height: 90px;
            width: 710px !important;
            padding: 26px 20px 20px 20px;
            border: 1px solid #9f9ca26b;
            .Gigs {
                font-size: 17px;
            }
            .button__gif {
                button {
                    height: 43px;
                    width: 156px;
                    margin-top: -5px;
                }
            }
        }
        .history__job__booking {
            margin-top: 30px;
            margin-left: 0px;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;

            .bookingName {
                .name {
                    margin-bottom: 30px;
                }
                .ant-card-bordered {
                    width: 810px;
                    margin-left: -35px;
                    border-radius: 4px;
                    border: 1px solid rgba(206, 200, 200, 0.769);
                }
            }
        }
    }
}

@media (max-width: 1396px) {
    .user__information__content {
        max-width: 95% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 40%;
    }
    .userInformation__item2 {
        float: left;
        width: 60%;
    }

    .user__information__right {
        .car__done__create {
            border-radius: 1px;
            margin-top: 50px;
            width: 750px !important;
            height: 141px;
            padding: 20px 20px 20px 20px;
            margin-bottom: 30px;
            border: 1px solid rgba(206, 200, 200, 0.769);
            box-shadow: none;
            .Buying {
                font-size: 18px;
                img {
                    margin-right: 10px;
                    width: 50px;
                    margin-left: 25px;
                }
                b {
                    font-weight: 600;
                    line-height: 10px;
                    font-size: 17px;
                }
            }

            .questions {
                margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                margin-top: -10px;
            }
            .industry {
                // margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                color: #1dbf73;
            }
        }
        .create__new__gif {
            height: 90px;
            width: 710px !important;
            padding: 26px 20px 20px 20px;
            border: 1px solid #9f9ca26b;
            .Gigs {
                font-size: 17px;
            }
            .button__gif {
                button {
                    height: 43px;
                    width: 156px;
                    margin-top: -5px;
                }
            }
        }
        .history__job__booking {
            margin-top: 30px;
            margin-left: 0px;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;

            .bookingName {
                .name {
                    margin-bottom: 30px;
                }
                .ant-card-bordered {
                    width: 810px;
                    margin-left: -35px;
                    border-radius: 4px;
                    border: 1px solid rgba(206, 200, 200, 0.769);
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .user__information__content {
        max-width: 95% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 40%;
    }
    .userInformation__item2 {
        float: left;
        width: 60%;
    }

    .user__information__right {
        .car__done__create {
            border-radius: 1px;
            margin-top: 50px;
            width: 563px !important;
            height: 161px !important;
            padding: 20px 20px 20px 20px;
            margin-bottom: 30px;
            border: 1px solid rgba(206, 200, 200, 0.769);
            box-shadow: none;
            .Buying {
                font-size: 18px;
                img {
                    margin-right: 10px;
                    width: 50px;
                    margin-left: 25px;
                }
                b {
                    font-weight: 600;
                    line-height: 10px;
                    font-size: 17px;
                }
            }

            .questions {
                margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                margin-top: -10px;
            }
            .industry {
                // margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                color: #1dbf73;
            }
        }
        .create__new__gif {
            height: 120px !important;
            width: 563px !important;
            padding: 26px 20px 20px 20px;
            border: 1px solid #9f9ca26b;
            .Gigs {
                font-size: 17px;
            }
            .button__gif {
                button {
                    font-size: 14px;
                    height: 53px !important;
                    width: 126px !important;
                    margin-top: -5px;
                }
            }
        }
        .history__job__booking {
            margin-top: 30px;
            margin-left: 0px;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;

            .bookingName {
                .name {
                    margin-bottom: 30px;
                }
                .ant-card-bordered {
                    width: 563px;
                    margin-left: -35px;
                    border-radius: 4px;
                    border: 1px solid rgba(206, 200, 200, 0.769);
                }
            }
        }
    }
}


@media (max-width:768px) {
    .user__information__content {
        max-width: 95% !important;
        margin: 0 auto;
    }

    .userInformation__item1 {
        float: left;
        width: 40%;
    }
    .userInformation__item2 {
        float: left;
        width: 60%;
    }

    .user__information__right {
        .car__done__create {
            border-radius: 1px;
            margin-top: 50px;
            width: 463px !important;
            height: 161px !important;
            padding: 20px 20px 20px 20px;
            margin-bottom: 30px;
            border: 1px solid rgba(206, 200, 200, 0.769);
            box-shadow: none;
            .Buying {
                font-size: 18px;
                img {
                    margin-right: 10px;
                    width: 50px;
                    margin-left: 25px;
                }
                b {
                    font-weight: 600;
                    line-height: 10px;
                    font-size: 17px;
                }
            }

            .questions {
                margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                margin-top: -10px;
            }
            .industry {
                // margin-left: 90px;
                font-weight: 500;
                font-size: 15px;
                color: #1dbf73;
            }
        }
        .create__new__gif {
            height: 120px !important;
            width: 463px !important;
            padding: 26px 20px 20px 20px;
            border: 1px solid #9f9ca26b;
            .Gigs {
                font-size: 17px;
            }
            .button__gif {
                button {
                    font-size: 14px;
                    height: 53px !important;
                    width: 126px !important;
                    margin-top: -5px;
                }
            }
        }
        .history__job__booking {
            margin-top: 30px;
            margin-left: 0px;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;

            .bookingName {
                .name {
                    margin-bottom: 30px;
                }
                .ant-card-bordered {
                    width: 463px !important;
                    margin-left: -35px;
                    border-radius: 4px;
                    border: 1px solid rgba(206, 200, 200, 0.769);
                }
            }
        }
    }
}


@media (max-width: 992px) {

    .card-1, .card-2{
        width: 350px !important;
    }
}


