.testimonials {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  margin: 0 auto 96px;
  max-width: 1400px;
  padding: 32px 32px 64px;
  .testimonial {
    flex-direction: row;
    align-items: center;
    .testimonial-video {
      width: 40%;
      min-width: 250px;
      cursor: pointer;
      .video-modal {
        .modal-image {
          img {
            width: 100%;
            border-radius: 4px;
          }
        }
      }
    }
    .testimonial-content {
      padding: 0 48px 0 64px;
      max-width: 707px;
      width: 60%;
      .content-title {
        font-weight: 400;
        color: #7a7d85;
        padding-bottom: 16px;
        font-size: 20px;
        line-height: 140%;
        .content-logo {
          height: 36px;
          border-left: 1px solid #c5c6c9;
          margin-left: 16px;
          img {
            display: inline-block;
            vertical-align: middle;
            margin-left: 12px;
            height: 36px;
          }
        }
      }
      .content-domaine {
        font-size: 30px;
        line-height: 44px;
        color: #003912;
        font-weight: 400;
      }
    }
  }
}

.slick-arrow.slick-prev {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  border: 0;
  font-size: 16px;
  line-height: 100%;
  &::before {
    background-position: 0 -32px;
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
      no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 16px;
  }
  &:hover {
    background-color: white;
  }
}

.slick-arrow.slick-next {
  @extend .slick-prev;
  &::before{
    background-position: 0 -48px;
  }
  
}
