//sliders
.Sliders {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }
    .slick-slider{
        .slick-track{
            // width: 100% !important;
        }
    }
}

//Sliders__search
.Sliders__search {
    position: absolute;
    left: 90px;
    top: 230px;
    .ant-input-affix-wrapper-lg {
        width: 550px;
        height: 54px;
    }
    .ant-input-search-button {
        height: 54px;
        background-color: rgb(64, 208, 105);
        width: 110px;
        border: none;
    }
    .Sliders__search__item {
        h1 {
            color: white;
            font-size: 50px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1200px) {
    .Sliders {
        position: relative;
        img {
            width: 100%;
        }
    }

    .Sliders__search {
        position: absolute;
        top: 200px;

        .ant-input-affix-wrapper-lg {
            width: 480px;
            height: 59px;
        }
        .ant-input-search-button {
            height: 59px;
            background-color: rgb(9, 74, 27);
            width: 70px;
            border: none;
        }
    }
}

@media screen and (max-width: 960px) {
    .Sliders {
        position: relative;
        img {
            width: 110%;
        }
    }
    .Sliders__search {
        position: absolute;
        top: 100px;
        .ant-input-affix-wrapper-lg {
            width: 380px;
            height: 59px;
        }
        .ant-input-search-button {
            height: 59px;
            background-color: rgb(9, 74, 27);
            width: 70px;
            border: none;
        }
        .Sliders__search__item {
            h1 {
                color: white;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}


@media (max-width: 576px) {
    .Sliders__search {
        position: absolute;

        .ant-input-affix-wrapper-lg {
            width: 250px;
            height: 50px;
        }
        .ant-input-search-button {
            height: 50px;
            background-color: rgb(9, 74, 27);
            width: 70px;
            border: none;
        }
    }
}

@media (max-width: 440px) {
    .Sliders__search {
        top: 10px;

        .ant-input-affix-wrapper-lg {
            width: 70px;
            height: 30px;
        }
        .ant-input-search-button {
            height: 30px;
            background-color: rgb(9, 74, 27);
            width: 70px;
            border: none;
        }
        .Sliders__search__item {
            h1 {
                color: white;
                font-size: 10px;
                font-weight: bold;
            }
        }
    }
}

// class="ant-btn ant-btn-primary ant-btn-lg ant-input-search-button"
.Sliders__bottom {
    background-color: #c2aeae1f;
    height: 100px;
    margin-top: -4px;
    .Sliders__bottom__item {
        padding-top: 27px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(68, 60, 51, 0.387);
    }
}






.carousel__content{
    .carousel__images{
        .images__item__trangti{
            img{
               
                width: 110%;
                height: 700px;
                display: block;
            }
        }
        .images__item__bantay{
            img{
                width: 100%;
                height: 700px;
            }
        }
    }

}




@media (max-width: 576px) {
   

.carousel__content{
    .carousel__images{
        .images__item__trangti{
            img{
                width: 110%;
                height: 400px;
                display: block;
            }
        }
        .images__item__bantay{
            img{
                width: 100%;
                height: 400px;
            }
        }
    }

}
}